textarea {
    min-height: 400px;
}

.email-container {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(205, 205, 205);
    height: 30px;
    padding: 10px;
    align-items: center;
}

.email-sender{
    margin-right: 40px;

}

.email-time-stp {
    margin-left: auto;
    color: grey;
}

